/node_modules
/public/hot
/public/storage
/public/berkas/laporan/*
/public/berkas/rumahsakit/*
/public/berkas/sopir/*
/public/berkas/warga/bersama-ktp/*
/public/berkas/warga/ktp/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*/.DS_Store
